<h1>Blog</h1>
<div><%= link_to 'New Post', new_blog_post_path %></div>
<div>
  <% @posts.each do |post| %>
    <div>
      <h2><%= link_to post.title, blog_post_path(post) %></h2>
      <div><%= post.text %></div>
    </div>
  <% end %>
</div>
